@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
@import "./scss/brands.scss";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

$capabilites-bg-color: #09445a;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";

.navbar{
    background-color: transparent;

    &.project-page{
        background-color: $capabilites-bg-color;
    }

    &.scrolled{
        
        background-color: $capabilites-bg-color;

        .navbar-brand{
            // background-color: #09445a;
            .navbar-item{
                .logo-text{
                    color: $white;
                }
        
                .logo-subtext{
                    color: $white;
                }

            }
        }

        

        .navbar-menu{
            .navbar-end{
                a{
                    color: $white;
                }
            }
        }

        
    }

    .navbar-brand{
        // background-color: #09445a;
        .navbar-item{
            display: flex;
            flex-direction: column;
            color: $white;
            align-items: flex-start;
            .logo-text{
                font-family: "Work Sans", sans-serif;
                font-size: 40px;
                font-weight: 600;
                line-height: 0.9;
                color: $white;
                display:inline-block;
                -webkit-transform: translateX(1.9em) scale(2.8, 1.5); /* Safari and Chrome */
                -moz-transform:translateX(1.9em) scale(2.8, 1.5); /* Firefox */
                -ms-transform: translateX(1.9em) scale(2.8, 1.5); /* IE 9 */
                -o-transform: translateX(1.9em) scale(2.8, 1.5); /* Opera */
                transform: translateX(1.9em) scale(2.8, 1.5); /* W3C */
            }

            .logo-subtext{
                font-family: "Work Sans", sans-serif;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                color: $white;
                border-top: solid 0.2em;
            }
        }
    }
}


.navbar-menu{
    .navbar-item{
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        padding: 0 2rem;
        text-transform: uppercase;
        color: $white;

        &.is-active{
            color: $white;
        }
    }
}

#home {
    // background: url(/_assets/slide1.jpg) center center no-repeat fixed; 
    background: url(/_assets/slide1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-size: cover;
    //background-size: 100% 100%;
    // background-size: contain;
    background-attachment: fixed;

    .container{
        padding-top: 15rem;
        // font-family: 'Work Sans', sans-serif;
        .title{
            color: $white;
            padding-left: 10rem;
        }
        
    }
}

.section{
    &#capabilities{
        //padding: 0;

    }

    &#about{
        background-image: url(/_assets/about-bg.jpg);
        background-size: cover;
        font-family: "Poppins", sans-serif;
        //box-shadow: inset 0 0 0 1000px rgba(9,68,90,.7);
    }

    &#projects{
        background-image: url(/_assets/projects-bg.jpg);
        background-size: 100% 100%;
        box-shadow: inset 0 0 0 1000px rgba(9, 68, 90, 0.7);
        background-repeat: no-repeat;
        // height: 40em;

        .card:hover span.project-overlay {
            display:block;
        }

        .column{
            cursor: pointer;
            .card{
                figure{
                    .project-overlay{
                        background: rgba(0,255,0,0.2);
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        // display: none;
                    }
                }
                
            }
            
        }
    }
    

    &#contact{
        background-color: #f2f5f7;
        padding: 0;
    }
}

#capabilities{
    .columns{
        background: $capabilites-bg-color;
        
        .column{
            cursor: pointer;
            height: 20rem;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                color: $white;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            .divider{
                width: 3rem;
                border: solid 1px #dd4454;
                margin: 1rem auto;
                border-radius: 20px;        
            }
            .info-icon{
                border: solid 1px $white;
                border-radius: 50%;
            }

            &:hover{
                background: rgb(253,94,29);
                background: linear-gradient(0deg, rgba(253,94,29,1) 0%, rgba(252,176,69,1) 100%);
            }
        }
        .offshore{
            background: $capabilites-bg-color;
            .image{
                svg{
                    width: 48px;
                    height: 48px;
                    fill: $white;
                }
            }
        }

        .onshore{
            background: rgba(4, 43, 61, 0.8);
            .image{
                svg{
                    width: 48px;
                    height: 48px;
                    fill: $white;
                }
            }
        }

        .installation{
            background: rgba(4, 43, 61, 0.6);
            .image{
                svg{
                    width: 48px;
                    height: 48px;
                    fill: $white;
                }
            }
        }

        .subsea{
            background: rgba(4, 43, 61, 0.4);
        }

        .reassesment{
            background: rgba(4, 43, 61, 0.2);
            .image{
                svg{
                    width: 48px;
                    height: 48px;
                    fill: $white;
                }
            }
        }

        .decommissioning{
            background: rgba(4, 43, 61, 5.55112e-17);
            .image{
                svg{
                    width: 48px;
                    height: 48px;
                    fill: $white;
                }
            }
        }

        

    }
}

#capabilitiesModal{
    .modal-content{
        background-color: $white;

        .info{
            .item{
                list-style: disc;
            }
        }

    }

}

#projectsModal{
    .modal-card-body{
        .item{
            list-style: disc;
        }
    }
}

#mapid { height: 30em; }

@media only screen and (max-width: 414px) {
    #hero { background-attachment:scroll; }
}

@media screen and (max-width: 1023px){

    .navbar-brand{
        // background-color: #09445a;
        .navbar-item{
           
            .logo-text{
                color: $white;
                font-size: 20px;
            }

            .logo-subtext{
                color: $white;
            }
        }
    }

    
    .navbar-menu{
        background-color: #09445a;

        .navbar-item{
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: $white;
            &:hover{
                color: $black !important;
            }
            &.is-active{
                background-color: transparent;
            }
        }
    }
}
